<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/search">Search</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">News</h3>
      </div>

      <div class="jumbotron">
        <h1>News Search</h1>
                 <form action = "http://localhost:5000/result" method = "POST">
         <p>Url <input type = "text" name = "Url" /></p>
         <p><input type = "submit" class="btn btn-lg btn-success" value = "submit" /></p>
      </form>
      </div>

      <div class="row marketing">
                  <div class="col-lg-4">
        <table class="table">
            {% for key in result %}
            <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><a href="{{ key['url'][0] }}">{{ key['title'][0] }}</a></div>
  <div class="panel-body">
    <p>Category:{{ key['category'][0] }}</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><img src="{{ key['image'][0] }}"></li>
    <li class="list-group-item">{{ key['text'][0] }}</li>
    <li class="list-group-item">{{ key['summary'][0] }}</li>
  </ul>
</div>
         {% endfor %}


      </table>
        </div>
        <div class="col-lg-8">
        <table class="table">
            {% for key in result %}
            <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><a href="{{ key['url'][0] }}">{{ key['title'][0] }}</a></div>
  <div class="panel-body">
    <p>Category:{{ key['category'][0] }}</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><img src="{{ key['image'][0] }}"></li>
    <li class="list-group-item">{{ key['text'][0] }}</li>
    <li class="list-group-item">{{ key['summary'][0] }}</li>
  </ul>
</div>
         {% endfor %}


      </table>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
   </body>
</html>

